body {
  background-color: beige;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1000px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; 
}
.fio {
  color: blue;
  text-align: center;
}

#myPhoto {
  width: 300px;
  display: block;
}
input,
label {
  display: block;

}
input[type="checkbox"]{
    display: inline;
}
.skillsList li{
  font-size: 25px;
  color: green;
  list-style-type:none;
  transition: all .5s;
}
.skillsList li:first-child{
  color: red;
  cursor: pointer;
  font-size: 35px;
}
.skillsList li:last-child{
  color:blue;
}
.skillsList li:nth-child(3n+2){
  color:purple;
}
.skillsList li::after {
  content:";";
}
.skillsList li:last-child::after{
  content:"!";
}
.skillsList li::before{
  content:"⭐";
  background-color: blueviolet;
  background-size: contain;
}
.skillsList li:hover::before{
  content:"💀";
  display: inline-block;
  width: 30px;
  height: 30px;
}

.calc,.courseSale,.registration{
  background-color: aqua;
  padding: 20px 30px;
  width: 500px;
  margin:30px auto 50px;
  
}
#procent{
  display: flex;
}